<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="token" value="MTEyOTgzNzQ2NTA1ODk1NTM0NA.GmaS2S.jaVvwZnzNE49iz9xjVK5FBgWOGqv-Jxk8COaIM"/>
    <add key="bossChannelId" value="1129816916907806801"/>
    <add key="rareChannelId" value="1129816916907806801"/>
    <add key="heroChannelId" value="1129816916907806801"/>
    <add key="rareExpireMin" value="90"/>
    <add key="heroExpireMin" value="180"/>
  </appSettings>
</configuration>