<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="serverPrefix" value="1"/>
    <add key="redisIp" value="34.145.24.214"/>
    <add key="redisPort" value="7875"/>
    <add key="bossChannelId" value="1044926315586920499"/>
    <add key="eliteChannelId" value="1311685367006494801"/>
    <add key="auctionBidChannelId" value="0"/>
    <add key="auctionResChannelId" value="0"/>
    <add key="logChannelId" value="1181614499216756767"/>
    <add key="rareExpireMin" value="240"/>
    <add key="heroExpireMin" value="240"/>
    <add key="AcientExpireMin" value="240"/>
    <add key="diceChannelId" value="1165493702395961424"/>
    <add key="bossKillWaiting" value="180"/>
    <add key="apiChannelId" value="1340423492021256354"/>
    <add key="attendChannelId" value="1362957470137581628"/>
    <add key="nexonApiKey" value="test_9b52a969693ef9a5badab05e6cabc5b69589bf26e7abaf66d992adf23a794567efe8d04e6d233bd35cf2fabdeb93fb0d"/>
    <add key="auctionEnabled" value="false"/>
    <add key="managerEnabled" value="true"/>
  </appSettings>
</configuration>