<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="serverPrefix" value="2"/>
    <add key="redisIp" value="34.83.185.208"/>
    <add key="redisPort" value="7875"/>
    <add key="bossChannelId" value="1362957470137581628"/>
    <add key="eliteChannelId" value="0"/>
    <add key="auctionBidChannelId" value="0"/>
    <add key="auctionResChannelId" value="0"/>
    <add key="logChannelId" value="0"/>
    <add key="rareExpireMin" value="240"/>
    <add key="heroExpireMin" value="240"/>
    <add key="AcientExpireMin" value="240"/>
    <add key="diceChannelId" value="0"/>
    <add key="bossKillWaiting" value="180"/>
    <add key="apiChannelId" value="0"/>
    <add key="nexonApiKey" value="0"/>
  </appSettings>
</configuration>