<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="rareChannelId" value="1129816916907806801"/>
    <add key="heroChannelId" value="1129816916907806801"/>
    <add key="bidRareChannelId" value="1129816916907806801"/>
    <add key="bidHeroChannelId" value="1129816916907806801"/>
    <add key="FailedBidUserId" value="958950313866428497"/>
    <add key="rareExpireMin" value="90"/>
    <add key="heroExpireMin" value="180"/>
    <add key="FailedBidPercent" value="80"/>
  </appSettings>
</configuration>